*{
    padding: 0;margin: 0; box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: url('../images/b1.png'),url('../images/bg1.jpeg');
    background-size: 50% 100%,cover;
    background-position: right,center;
    background-repeat: no-repeat,no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    
}

.logo{
    color: white;
    font-size: 50px;
    padding-left: 100px;
    letter-spacing: 5px;
}
.logo span{
    color: red;
}

.menu a{
    color:  white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.menu{
    margin-right: 100px;

}
.menu a:hover{
    background: orange;
    transition: 0.4;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 450px;

}
.text h1{
    font-size: 50px;
    margin: 10px 0px;
}
.text p{
    font-size: 25px;
}

.btn{
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: red;
    padding: 10px;
}

.about{
    padding: 100px 50px;
}
.section-info{
    font-weight: bold;
    text-align: center;
}
.section-info h1{
    font-size: 50px;
}
.section-info p{
    font-size: 25px;
    color: red;
}
.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
    padding: 50px;
}
.about-right-col{
    flex-basis: 50%;
}
.about-right-col{
    font-size: 20px;
    text-align: justify;
}
.set{
    margin-top: 10%;
    min-width: none;
    height: auto;
    border-radius: 8px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}
#skills{
    padding: 100px 50px;
    background: url('../images/bg2.jpg');
    color: white;
}
.skills-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(45, 52, 54);
    padding: 50px;
}
.skills-left-col{
    flex-basis:50% ;
    text-align: justify;   
}

.skills-left-col p{
    font-size: 20px;
}
.skills-right-col{
    flex-basis:50% ;   
}
#contact{
    padding: 100px 50px;
}
.contact-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 3px 5px black;
    padding: 20px;
    margin-top: 20px;
}
.contact-box:hover{
    background-color: #e74c3c;
    color: white;
    transition: 0.4s;
}
.contact-box{
    flex-basis: 25%;
    text-align: center;
}
.contact-box img{
    width: 60%;
}